.login {
  &-dialog {
    &--container {
      width: 100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;

      &--inner {
        min-width: 400px !important;
        width: 30vw;
        height: 25vh;
      }
    }
  }
}

.input {
  min-width: 100% !important;
  background-color: #242424 !important;
  color: white !important;

  &--email {
    @extend .input;
    margin: 0 0 1em 0;
  }

  &--password {
    @extend .input;
    margin: 1em 0 0 0;
  }

  &--button {
    color: white;
    min-width: 100% !important;
    margin: 2em 0 !important;
  }
}
