.project-item {
  &--project {
    padding: 10px;
    min-width: 200px;
    max-width: 600px;
    max-height: 800px;
    border: 2px solid gray;
    border-radius: 15px;

    &-expanded {
      @extend .project-item--project;
      box-sizing: border-box;
      z-index: 1;
      position: absolute;
      background-color: #242424;
      max-height: unset;
      max-width: unset;
      border: unset;
      height: 100vh;
      width: 100vw;
      top: 0;
      padding-top: 75px;
    }
  }

  &--headline {
    text-align: left;
    font-size: 20px;
    overflow: hidden;

    &-large {
      @extend .project-item--headline;
      font-size: 3.2rem;
      font-weight: bold;
      text-align: center;
    }
  }

  &--tech-stack {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 2px;
    overflow: hidden;
    position: relative;
    text-align: center;

    .chip {
      @extend .project-item--tech-stack;
    }

    .fade {
      -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);
    }

    .button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }

    .visible {
      opacity: 100;
    }
  }

  &--description {
    margin: 10px 0 0 0;
    text-align: left;
    max-height: 100px;
    word-break: break-word;
  }

  &--timeline {
    min-width: 200px;
    max-height: 200px;
    overflow: hidden;
  }

  &--body {
    display: flex;
    gap: 10px;
    flex: auto;

    .fade {
      -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
    }
  }
}
